/AB_NYC_2019.csv
/Breast Cancer Prediction.ipynb
/data.csv
/First Neural Network Classifier.ipynb
/Improved Digit Classification CNN.ipynb
/Manhattan_New_York_Map.PNG
/Neighbourhoods_New_York_City_Map.PNG
/Neural Network Digit Classification.ipynb
/New York City Airbnb Data Exploration Testing Stuff.ipynb
/Testing.PNG
/train.csv